[project]
name = "mcp-test"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "azure-identity>=1.25.0",
    "mcp>=1.17.0",
    "openai>=1.107.2",
    "psutil>=7.1.0",
    "python-dotenv>=1.1.1",
]
